@font-face {
  font-family: "ftuo-circle-icons";
  src: url("http://pollardld.com/inc/fonts/ftuo-circle-icons/ftuo-circle-icons.eot");
  src: url("http://pollardld.com/inc/fonts/ftuo-circle-icons/ftuo-circle-icons.eot?#iefix") format("embedded-opentype"),
       url("http://pollardld.com/inc/fonts/ftuo-circle-icons/ftuo-circle-icons.woff") format("woff"),
       url("http://pollardld.com/inc/fonts/ftuo-circle-icons/ftuo-circle-icons.ttf") format("truetype"),
       url("http://pollardld.com/inc/fonts/ftuo-circle-icons/ftuo-circle-icons#ftuo-circles") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-computer-circle,
.icon-health-circle,
.icon-scm2-circle,
.icon-scm-circle:before,
.icon-mkt-circle:before,
.icon-pm2-circle:before,
.icon-mkt2-circle:before,
.icon-business-circle:before,
.icon-calculator-circle:before,
.icon-power-circle:before,
.icon-pm-circle:before {
  font-family: "ftuo-circle-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-computer-circle:before { content: "\f100"; }
.icon-health-circle:before { content: "\f101"; }
.icon-scm2-circle:before { content: "\f102"; }
.icon-scm-circle:before { content: "\f103"; }
.icon-mkt-circle:before { content: "\f104"; }
.icon-pm2-circle:before { content: "\f105"; }
.icon-mkt2-circle:before { content: "\f106"; }
.icon-business-circle:before { content: "\f107"; }
.icon-calculator-circle:before { content: "\f108"; }
.icon-power-circle:before { content: "\f109"; }
.icon-pm-circle:before { content: "\f10a"; }