/*=========================================
  Global
  =======================================*/

h1 {
	font-size: 1.75em;
}
.contact, .work, .blog {
	h1 {
		font-size: 1.75em;
	}
}
.work, .contact, .blog {
	padding-top: 35%;
}