@-webkit-keyframes boom {
  0% {
	background: $secondaryColor;
  }
  100% {
  	box-shadow: 0 0 25em $secondaryColor;
  	height: 5em;
  	width: 5em;
  	top: 2.5em;
  	right: 2.5em;
  	opacity: .5;
  }
}

@-webkit-keyframes blink {
	0% { height: 1%; }
	0.75% { height: 0; border: 2px solid #363D3D; transform: rotateX(360deg); -webkit-transform: rotateX(360deg); }
	1.5% { border: 8px solid #fff; box-shadow: 0 0 10px #fff; height: 3%; width: 3%; }
	98.5% { border: 8px solid #fff; box-shadow: 0 0 10px #fff; height: 3%; width: 3%; }
	99.25% { height: 0; border: 5px solid #363D3D; transform: rotateX(360deg); -webkit-transform: rotateX(360deg);}
	100% { height: 1.75%; width: 4%;}
}
@keyframes blink {
	0% { height: 1%; }
	0.75% { height: 0; border: 2px solid #363D3D; transform: rotateX(360deg); -moz-transform: rotateX(360deg); transform: rotateX(360deg); }
	1.5% { border: 8px solid #fff; box-shadow: 0 0 10px #fff; height: 3%; width: 3%; }
	98.5% { border: 8px solid #fff; box-shadow: 0 0 10px #fff; height: 3%; width: 3%; }
	99.25% { height: 0; border: 5px solid #363D3D; transform: rotateX(360deg); -moz-transform: rotateX(360deg);}
	100% { height: 1.75%; width: 4%;}
}

/* @-webkit-keyframes two-step {
	from { left: 0; }
	20% { left: -30%; }
	30% { left: -110%; }
	45% { left: -110%; }
	70% { left: -70%; }
	90% { left: -60%; }
	to { left: -30%; }
}
@keyframes two-step {
	from { left: 0; }
	20% { left: -30%; }
	30% { left: -110%; }
	45% { left: -110%; }
	70% { left: -70%; }
	90% { left: -60%; }
	to { left: -30%; }
} */

@-webkit-keyframes rock {
	0% { -webkit-transform: rotateZ(0); }
	47.5% { -webkit-transform: rotateZ(0); }
	50% {  -webkit-transform: rotateZ(10deg); }
	52.5% {  -webkit-transform: rotateZ(-10deg); }
	55% {  -webkit-transform: rotateZ(0) }
	56% { -webkit-transform: rotateZ(2.5deg); }
	57% { -webkit-transform: rotateZ(0); }
	58% { -webkit-transform: rotateZ(-2.5deg); }
	59% { -webkit-transform: rotateZ(0); }
	100% {  -webkit-transform: rotateZ(0) }
}
@keyframes rock {
	0% { transform: rotateZ(0); -moz-transform: rotateZ(0); }
	47.5% { transform: rotateZ(0); -moz-transform: rotateZ(0); }
	50% {  transform: rotateZ(10deg); -moz-transform: rotateZ(10deg); }
	52.5% {  transform: rotateZ(-10deg); -moz-transform: rotateZ(-10deg); }
	55% {  transform: rotateZ(0); -moz-transform: rotateZ(0); }
	56% { transform: rotateZ(2.5deg); -moz-transform: rotateZ(2.5deg); }
	57% { transform: rotateZ(0); -moz-transform: rotateZ(0); }
	58% { transform: rotateZ(-2.5deg); -moz-transform: rotateZ(-2.5deg); }
	59% { transform: rotateZ(0); -moz-transform: rotateZ(0); }
	100% {  transform: rotateZ(0); -moz-transform: rotateZ(0); }
}